<ul class="nav navbar-nav navbar-right">
    @if (@Session.GetCurrentUser() == null)
    {
        <li>@Html.ActionLink("Log in", "Login", "Home", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
    }
    else
    {
        <li>@Html.ActionLink(Session.GetCurrentUser().Username, "Index", "Home")</li>
        <li>@Html.ActionLink("Log off", "Logoff", "Home")</li>    
    }
</ul>
