@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<strong>Visiolink ApS</strong><br>
<div class="mobileFloatLeft first">Bjørnholms Allé 20<br>8260 Viby J<br>Danmark<br></div>
<div class="mobileFloatLeft">
    Telefon +45 7023 3544<br>
    Email: <a class="darklink" href="mailto:info@visiolink.com">info@visiolink.com</a><br>
    Support: <a class="darklink" href="mailto:support@visiolink.com">support@visiolink.com</a><br>
    CVR-nr: 27665314
</div>
<div class="clear"><xml:comment></xml:comment></div><div class="socialMedia"><p><a class="twitter" href="http://www.twitter.com/VisiolinkEpages" target="_blank"><img src="/images/twitter.png" height="18px" width="20px" alt="Twitter"></a><a href="http://www.linkedin.com/company/visiolink-denmark" class="linkedin" target="_blank"><img src="/images/linkedin.png" height="18px" width="24px" alt="LinkedIn"></a></p></div>