@using JohannesVidnerProject.Controllers
@using JohannesVidnerProject.Models
@using Model
@model List<JohannesVidnerProject.Models.Publication>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publikationer</title>
</head>
<body>
    <div>
        <table>
            <tr>
                @foreach (Publication p in Model)
                {
                <tr>
                    <td class="">@p.Name</td>
                    <td class="row">@p.CurrentEdition().Pages sider</td>
                <tr>
                    <td class="row"> @p.CurrentEdition().Time</td>
                    <td class="row"> @p.CurrentEdition().Status</td>
                </tr>
                </tr>
                }
                </tr>
            </table>
        </div>
    </body>
</html>
