@using JohannesVidnerProject.Controllers
@using JohannesVidnerProject.Models
@using Model
@model List<JohannesVidnerProject.Models.Publication>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Publikationer</title>
    <link rel="stylesheet" type="text/css" href="\Content\PublicationList.css">
</head>
<body>
    <div>
        <table>
            <tr>
                @foreach (Publication p in Model)
                {
                    <div class='publ bad-publ'>
                        <div class='line1'>
                            <span class='name'>@p.Name</span>
                            <span class='datetime'>@p.CurrentEdition().Time</span>
                        </div>
                        <div class='line2'>
                            <span class='pages'>@p.CurrentEdition().Pages sider</span>
                        </div>
                        <div class='line3'>
                            <span class='status error'>@p.CurrentEdition().Status</span>
                        </div>
                    </div>
                }
        </table>
        </div>
    </body>
</html>
